@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Arabic:wght@100..800&display=swap');
@import "tailwindcss";

* {
  font-family: "Playpen Sans Arabic", cursive;
}

html {
    scroll-behavior: smooth;
  }

  @layer utilities {
    .clip-path-custom {
      clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
    }
    .clip-path-custom-2 {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 25% 95%, 0 100%);
      }
    .clip-path-custom-3 {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 96%, 0 100%);
      }
  }

  @theme{
    --color-shop-light-pink: #fcf0e4;
   --color-shop_light_pink: #fcf0e4;
   --color-shop_dark_green: #063c28;
   --color-shop_btn_dark_green: #063D29; 
  --color-shop_light_bg: #f6f6f6;
         --color-shop_light_green: #3b9c3c; 
          --color-shop_orange: #fb6c08;
           --color-darkColor: #151515; 
            --color-LightColor: #52525b; 
             --color-lightOrange: #fca99b;
             --color-shop_light_green: #3b9c3c;
  }